@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    background: #fff;
    box-shadow: inset;
    margin: 0;
    padding: 0;


}

body {
    background-color: #eee;
    top: 100%;
}

h3 {
    text-align: center;
    margin: auto;
}

#all {
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    width: 1000px;
}

#form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#left {
    width: 50%;
    display: inline;
    float: left;
}

#right {
    width: 50%;
    display: inline;
    float: right;
}

#textarea {
    min-height: 300px;
    min-width: 300px;
}

select {
    border: none;
    background-color: #eee;
}

.input-form {
    margin-bottom: 15px;
    width: 350px;
    background: #eee;
    border-radius: 5px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.input-form:hover {
    background-color: lightgray;
}

button {
    background-color: #183661;
    width: 200px;
    height: 35px;
    color: white;
}

#labelimg {
    margin-bottom: 30px;
}

#img {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #183661;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #183661;
}