@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    background: #eee;
    box-shadow: inset;
    margin: 0;
    padding: 0;
}

body {
    margin: 30px;
}

h3,
h4,
h5 {
    text-align: center;
    margin: auto;
}

#imageDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contentDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#img {
    margin-top: 10px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

#textarea {
    min-height: 300px;
    min-width: 300px;
    word-wrap: break-word;
    word-break: break-all;
    height: 80px;
    resize: none;
}

select {
    border: none;
    background-color: #eee;
}

.input-form {
    margin-bottom: 15px;
    width: 350px;
    background: #eee;
    border-radius: 5px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.input-form:hover {
    background-color: lightgray;
}

button {
    background-color: #183661;
    width: 200px;
    height: 35px;
    color: white;
}

#labelimg {
    margin-bottom: 30px;
}


input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #183661;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #183661;
}