@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    background: #fff;
    box-shadow: inset;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee !important;
    top: 100%;
}

h3 {
    margin-top: 20px;
    margin-bottom: 25px;
}

#container {
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

#content {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input-form {
    margin-bottom: 15px;
    width: 350px;
    background: #eee;
    border-radius: 5px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.input-form:hover {
    background-color: lightgray;
}

button {
    background-color: #183661;
    width: 200px;
    height: 35px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
}

a {
    color: #183661;
}

button:hover {
    background-color: #465e81;
}

a:hover {
    color: #465e81;
}

#error-msg {
    color: crimson;
    margin-bottom: 20px;
    word-wrap: break-word;
    display: flex;
    width: 250px !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#error-a {
    color: crimson;
}

#buttonCC {
    background-color: #183661;
    width: 200px;
    height: 35px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
}